/* app css stylesheet */
body {
  font-family: 'Helvetica Neue', 'sans-serif';
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

footer {
  margin-top:30px;
  font-size:14px;
  color: gray;  
}

footer a {
  color: #5790BD;
  text-decoration:none;
}

footer a {
  color: #5790BD;
  text-decoration:none;
}

